# Pre-Processing the data

In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("C:/Users/Muskan/Downloads/Loan_data_2007_2014")

#### Import Data

In [2]:
#detailed description of each column 
#https://www.kaggle.com/jonchan2003/lending-club-data-dictionary

In [3]:
loan_data_backup=pd.read_csv("C:/Users/Muskan/Downloads/Loan_data_2007_2014/3.1 loan_data_2007_2014.csv")

C:\Users\Muskan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
#saving one backup  of the file in case it is needed again
loan_data=loan_data_backup.copy()

In [5]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [6]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [7]:
#The unnmaed column is not useful therefore we can drop it
loan_data.drop('Unnamed: 0',
  axis='columns', inplace=True)

In [8]:
loan_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [9]:
#Checking each column datatype
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

### Pre-processing continuous variables

#### emp_length column

In [10]:
#loan_data dtye type is object, it should be numeric
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [11]:
#to convert the column in numeric we have to remove string values with str.replace
#first, replacing the '+years' with ''
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
#first, replacing the '<1' with 0 (years)
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
#replacing nan values '+years' with 0 (years)
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))
# replacing the years/year with ''
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

<ipython-input-11-aa3cc464bbdc>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [12]:
#the symbols and words are removed byt datatype is still string
type(loan_data['emp_length_int'][0])

str

In [13]:
#pd.numeric casts a pandas series to numeric dtype
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [14]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element if it has changed to numeric numpy

numpy.float64

#### earliest_cr_line column

In [15]:
#A credit line is a name for a type of loan that allows you to borrow and repay money, usually on a revolving basis
#this should be a date variable not a string variable 
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [16]:
# will convert these values to timestamps using pd.to_datetime
loan_data['earliest_cr_line_date']=pd.to_datetime(loan_data['earliest_cr_line'],format='%b-%y')
#format='%b-%y'here %b is to look for first 3 letters of the month and %y for last 2 numbers of the year
#data in the column is given in this same format

In [17]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
#now we need to know the no of days that have passed since each credit line was issued and present
#since the data is older, we could use Dec 12 2017 as the date from which no of days passed is references
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [19]:
#working with months instead of days is much easier
loan_data['mnths_since_earliest_cr_line']=round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date'])/np.timedelta64(1,'M')))
#np.delta64 converts form days to months

In [20]:
loan_data['mnths_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mnths_since_earliest_cr_line, dtype: float64

In [21]:
'''
the min difference in months is -612, which indicates that the earliest line of credit has 
values which are after Dec 12 2017, however since we specified to look for just the last two 
digits of the year, there is a possibility python coverted a year like 1967 to 2067
Thus, we can take negative values of the column and impute them with the max difference since
the difference since 1960s to 2017 is huge anyway
'''

'\nthe min difference in months is -612, which indicates that the earliest line of credit has \nvalues which are after Dec 12 2017, however since we specified to look for just the last two \ndigits of the year, there is a possibility python coverted a year like 1967 to 2067\nThus, we can take negative values of the column and impute them with the max difference since\nthe difference since 1960s to 2017 is huge anyway\n'

In [22]:
#subsetting the neagtive values from the 3 columns in use
loan_data.loc[:,['earliest_cr_line','earliest_cr_line_date','mnths_since_earliest_cr_line']][loan_data['mnths_since_earliest_cr_line']<0]

       earliest_cr_line earliest_cr_line_date  mnths_since_earliest_cr_line
1580             Sep-62            2062-09-01                        -537.0
1770             Sep-68            2068-09-01                        -609.0
2799             Sep-64            2064-09-01                        -561.0
3282             Sep-67            2067-09-01                        -597.0
3359             Feb-65            2065-02-01                        -566.0
...                 ...                   ...                           ...
464003           Jan-68            2068-01-01                        -601.0
464260           Jul-66            2066-07-01                        -583.0
465100           Oct-67            2067-10-01                        -598.0
465500           Sep-67            2067-09-01                        -597.0
465655           Jan-56            2056-01-01                        -457.0

[1169 rows x 3 columns]

In [23]:

(loan_data.loc[:,['earliest_cr_line','earliest_cr_line_date','mnths_since_earliest_cr_line']][loan_data['mnths_since_earliest_cr_line']<0]).size

3507

In [24]:
#setting the rows with negative difference to the maximum value
loan_data['mnths_since_earliest_cr_line'][loan_data['mnths_since_earliest_cr_line'] < 0] =loan_data['mnths_since_earliest_cr_line'].max()

<ipython-input-24-69d0060c4544>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mnths_since_earliest_cr_line'][loan_data['mnths_since_earliest_cr_line'] < 0] =loan_data['mnths_since_earliest_cr_line'].max()

In [25]:
#checking the new minimum number of months
min(loan_data['mnths_since_earliest_cr_line'])

73.0

#### Term column

In [26]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'emp_length_int',
       'earliest_cr_line_date', 'mnths_since_earliest_cr_line'],
      dtype=object)

In [27]:
type(loan_data['term'])

pandas.core.series.Series

In [28]:
loan_data['term'].dtype

dtype('O')

In [29]:
#need to convert this object to integer data since it indicates the term of a loan
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [30]:
loan_data['term'].describe()

count         466285
unique             2
top        36 months
freq          337953
Name: term, dtype: object

In [31]:
#removing words from the values
loan_data['term_int']=loan_data['term'].str.replace(' months', '')

In [32]:
loan_data['term_int']

0          36
1          60
2          36
3          36
4          60
         ...
466280     60
466281     60
466282     60
466283     36
466284     36
Name: term_int, Length: 466285, dtype: object

In [33]:
loan_data['term_int'][0]

' 36'

In [34]:
loan_data['term_int']=pd.to_numeric(loan_data['term'].str.replace(' months',''))

In [35]:
#dtype changed from object to int64
loan_data['term_int']

0         36
1         60
2         36
3         36
4         60
          ..
466280    60
466281    60
466282    60
466283    36
466284    36
Name: term_int, Length: 466285, dtype: int64

#### Issue Date column

In [36]:
loan_data['issue_d'].dtype

dtype('O')

In [37]:
#the data should be in date form instead of object
loan_data['issue_d_date']=pd.to_datetime(loan_data['issue_d'],format= '%b-%y')

In [38]:
#lets extract the no of months since the issue dates of the loans till December 2017
loan_data['mnths_since_issue_d']=round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))

In [39]:
loan_data['mnths_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: mnths_since_issue_d, dtype: float64

### Pre-processing discrete variables

In [40]:
'''
will create binary categories (0 0r 1) for some categorical variables in the dataset.
columns we would be using in this part are
grade,sub_grade,home_ownership,verification_status,loan_status,purpose,addr_state,
initial_list_status
Dummy numerical values are neccesary to build statistical predictive models on the data
'''

'\nwill create binary categories (0 0r 1) for some categorical variables in the dataset.\ncolumns we would be using in this part are\ngrade,sub_grade,home_ownership,verification_status,loan_status,purpose,addr_state,\ninitial_list_status\nDummy numerical values are neccesary to build statistical predictive models on the data\n'

#### Grade column

In [41]:
#creating dummy variables with pd.get_dummy, here in the matrix, any of the unique values if present in
#the specified row, will have the value of 1 for that row
pd.get_dummies(loan_data['grade']).head()

   A  B  C  D  E  F  G
0  0  1  0  0  0  0  0
1  0  0  1  0  0  0  0
2  0  0  1  0  0  0  0
3  0  0  1  0  0  0  0
4  0  1  0  0  0  0  0

In [42]:
#the name should be a little descriptive for each category
pd.get_dummies(loan_data['grade'],prefix='grade',prefix_sep=': ').head()

   grade: A  grade: B  grade: C  grade: D  grade: E  grade: F  grade: G
0         0         1         0         0         0         0         0
1         0         0         1         0         0         0         0
2         0         0         1         0         0         0         0
3         0         0         1         0         0         0         0
4         0         1         0         0         0         0         0

In [43]:
#assigning dummy variables to all categorical variables and making a list of them
loan_data_dummies=[pd.get_dummies(loan_data['grade'],prefix='grade',prefix_sep=': '),
                   pd.get_dummies(loan_data['sub_grade'],prefix='sub_grade',prefix_sep=': '),
                   pd.get_dummies(loan_data['home_ownership'],prefix='home_ownership',prefix_sep=': '),
                   pd.get_dummies(loan_data['verification_status'],prefix='verifiction_status',prefix_sep=': '),
                   pd.get_dummies(loan_data['loan_status'],prefix='loan_status',prefix_sep=': '),
                   pd.get_dummies(loan_data['purpose'],prefix='purpose',prefix_sep=': '),
                   pd.get_dummies(loan_data['addr_state'],prefix='addr_state',prefix_sep=': '),
                   pd.get_dummies(loan_data['initial_list_status'],prefix='initia_list_status',prefix_sep=': ')]

In [44]:
#turning the list into a dataframe using pd.concat
loan_data_dummies=pd.concat(loan_data_dummies,axis=1)

In [45]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [46]:
#concatenating dummy variables in the loan_data dataframe as columns
loan_data=pd.concat([loan_data,loan_data_dummies],axis=1)

In [47]:
#can check if the concatenation happened with:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'emp_length_int',
       'earliest_cr_line_date', 'mnths_since_earliest_cr_line',
       'term_int', 'issue_d_date', 'mnths_since_issue_d', 'grade: A',
       'grade: B', 'grade: C', 'grade: D', 'grade: E', 'grade: F',
       'grade: G', 'sub_grade: A1', 'sub_grade: A2', 'sub_grade: A3',
       'sub_grade: A4', 'sub_grade: A5', 'sub_grade: B1', 'sub_grade: B2',
       'sub_grade: B3', 'sub_grade: B4', 'sub_grade: B5', 'sub_grade: C1',
       'sub_grade: C2', 'sub_grade: C3', 'sub_grade: C4', 'sub_grade: C5',
       'sub_grade: D1', 'sub_grade: D2', 'sub_grade: D3', 'sub_grade: D4',
       'sub_grade: D5', 'sub_grade: E1', 'sub_grade: E2', 'sub_grade: E3',
       'sub_grade: E4', 'sub_grade: E5', 'sub_grade: F1', 'sub_grade: F2',
       'sub_grade: F3', 'sub_grade: F4', 'sub_grade: F5', 'sub_grade: G1',
       'sub_grade: G2', 'sub_grade: G3', 'sub_grade: G4', 'sub_grade: G5',
       'home_ownership: ANY', 'home_ownership: MORTGAGE',
       'home_ownership: NONE', 'home_ownership: OTHER',
       'home_ownership: OWN', 'home_ownership: RENT',
       'verifiction_status: Not Verified',
       'verifiction_status: Source Verified',
       'verifiction_status: Verified', 'loan_status: Charged Off',
       'loan_status: Current', 'loan_status: Default',
       'loan_status: Does not meet the credit policy. Status:Charged Off',
       'loan_status: Does not meet the credit policy. Status:Fully Paid',
       'loan_status: Fully Paid', 'loan_status: In Grace Period',
       'loan_status: Late (16-30 days)',
       'loan_status: Late (31-120 days)', 'purpose: car',
       'purpose: credit_card', 'purpose: debt_consolidation',
       'purpose: educational', 'purpose: home_improvement',
       'purpose: house', 'purpose: major_purchase', 'purpose: medical',
       'purpose: moving', 'purpose: other', 'purpose: renewable_energy',
       'purpose: small_business', 'purpose: vacation', 'purpose: wedding',
       'addr_state: AK', 'addr_state: AL', 'addr_state: AR',
       'addr_state: AZ', 'addr_state: CA', 'addr_state: CO',
       'addr_state: CT', 'addr_state: DC', 'addr_state: DE',
       'addr_state: FL', 'addr_state: GA', 'addr_state: HI',
       'addr_state: IA', 'addr_state: ID', 'addr_state: IL',
       'addr_state: IN', 'addr_state: KS', 'addr_state: KY',
       'addr_state: LA', 'addr_state: MA', 'addr_state: MD',
       'addr_state: ME', 'addr_state: MI', 'addr_state: MN',
       'addr_state: MO', 'addr_state: MS', 'addr_state: MT',
       'addr_state: NC', 'addr_state: NE', 'addr_state: NH',
       'addr_state: NJ', 'addr_state: NM', 'addr_state: NV',
       'addr_state: NY', 'addr_state: OH', 'addr_state: OK',
       'addr_state: OR', 'addr_state: PA', 'addr_state: RI',
       'addr_state: SC', 'addr_state: SD', 'addr_state: TN',
       'addr_state: TX', 'addr_state: UT', 'addr_state: VA',
       'addr_state: VT', 'addr_state: WA', 'addr_state: WI',
       'addr_state: WV', 'addr_state: WY', 'initia_list_status: f',
       'initia_list_status: w'], dtype=object)

## Handling missing values

In [48]:
pd.options.display.max_rows=None #shows all columns 
loan_data.isnull().sum() #checking missing values for all columns

id                                                                       0
member_id                                                                0
loan_amnt                                                                0
funded_amnt                                                              0
funded_amnt_inv                                                          0
term                                                                     0
int_rate                                                                 0
installment                                                              0
grade                                                                    0
sub_grade                                                                0
emp_title                                                            27588
emp_length                                                           21008
home_ownership                                                           0
annual_inc                                                               4
verification_status                                                      0
issue_d                                                                  0
loan_status                                                              0
pymnt_plan                                                               0
url                                                                      0
desc                                                                340302
purpose                                                                  0
title                                                                   20
zip_code                                                                 0
addr_state                                                               0
dti                                                                      0
delinq_2yrs                                                             29
earliest_cr_line                                                        29
inq_last_6mths                                                          29
mths_since_last_delinq                                              250351
mths_since_last_record                                              403647
open_acc                                                                29
pub_rec                                                                 29
revol_bal                                                                0
revol_util                                                             340
total_acc                                                               29
initial_list_status                                                      0
out_prncp                                                                0
out_prncp_inv                                                            0
total_pymnt                                                              0
total_pymnt_inv                                                          0
total_rec_prncp                                                          0
total_rec_int                                                            0
total_rec_late_fee                                                       0
recoveries                                                               0
collection_recovery_fee                                                  0
last_pymnt_d                                                           376
last_pymnt_amnt                                                          0
next_pymnt_d                                                        227214
last_credit_pull_d                                                      42
collections_12_mths_ex_med                                             145
mths_since_last_major_derog                                         367311
policy_code                                                              0
application_type                                                         0
annual_inc_joint                                                    466285
dti_joint                                                           466285
verification_status_joint                                           466285
acc_now_delinq                                                          29
tot_coll_amt                                                         70276
tot_cur_bal                                                          70276
open_acc_6m                                                         466285
open_il_6m                                                          466285
open_il_12m                                                         466285
open_il_24m                                                         466285
mths_since_rcnt_il                                                  466285
total_bal_il                                                        466285
il_util                                                             466285
open_rv_12m                                                         466285
open_rv_24m                                                         466285
max_bal_bc                                                          466285
all_util                                                            466285
total_rev_hi_lim                                                     70276
inq_fi                                                              466285
total_cu_tl                                                         466285
inq_last_12m                                                        466285
emp_length_int                                                       21008
earliest_cr_line_date                                                   29
mnths_since_earliest_cr_line                                            29
term_int                                                                 0
issue_d_date                                                             0
mnths_since_issue_d                                                      0
grade: A                                                                 0
grade: B                                                                 0
grade: C                                                                 0
grade: D                                                                 0
grade: E                                                                 0
grade: F                                                                 0
grade: G                                                                 0
sub_grade: A1                                                            0
sub_grade: A2                                                            0
sub_grade: A3                                                            0
sub_grade: A4                                                            0
sub_grade: A5                                                            0
sub_grade: B1                                                            0
sub_grade: B2                                                            0
sub_grade: B3                                                            0
sub_grade: B4                                                            0
sub_grade: B5                                                            0
sub_grade: C1                                                            0
sub_grade: C2                                                            0
sub_grade: C3                                                            0
sub_grade: C4                                                            0
sub_grade: C5                                                            0
sub_grade: D1                                                            0
sub_grade: D2                                                            0
sub_grade: D3                                                            0
sub_grade: D4                                                            0
sub_grade: D5                                                            0
sub_grade: E1                                                            0
sub_grade: E2                                                            0
sub_grade: E3                                                            0
sub_grade: E4                                                            0
sub_grade: E5                                                            0
sub_grade: F1                                                            0
sub_grade: F2                                                            0
sub_grade: F3                                                            0
sub_grade: F4                                                            0
sub_grade: F5                                                            0
sub_grade: G1                                                            0
sub_grade: G2                                                            0
sub_grade: G3                                                            0
sub_grade: G4                                                            0
sub_grade: G5                                                            0
home_ownership: ANY                                                      0
home_ownership: MORTGAGE                                                 0
home_ownership: NONE                                                     0
home_ownership: OTHER                                                    0
home_ownership: OWN                                                      0
home_ownership: RENT                                                     0
verifiction_status: Not Verified                                         0
verifiction_status: Source Verified                                      0
verifiction_status: Verified                                             0
loan_status: Charged Off                                                 0
loan_status: Current                                                     0
loan_status: Default                                                     0
loan_status: Does not meet the credit policy. Status:Charged Off         0
loan_status: Does not meet the credit policy. Status:Fully Paid          0
loan_status: Fully Paid                                                  0
loan_status: In Grace Period                                             0
loan_status: Late (16-30 days)                                           0
loan_status: Late (31-120 days)                                          0
purpose: car                                                             0
purpose: credit_card                                                     0
purpose: debt_consolidation                                              0
purpose: educational                                                     0
purpose: home_improvement                                                0
purpose: house                                                           0
purpose: major_purchase                                                  0
purpose: medical                                                         0
purpose: moving                                                          0
purpose: other                                                           0
purpose: renewable_energy                                                0
purpose: small_business                                                  0
purpose: vacation                                                        0
purpose: wedding                                                         0
addr_state: AK                                                           0
addr_state: AL                                                           0
addr_state: AR                                                           0
addr_state: AZ                                                           0
addr_state: CA                                                           0
addr_state: CO                                                           0
addr_state: CT                                                           0
addr_state: DC                                                           0
addr_state: DE                                                           0
addr_state: FL                                                           0
addr_state: GA                                                           0
addr_state: HI                                                           0
addr_state: IA                                                           0
addr_state: ID                                                           0
addr_state: IL                                                           0
addr_state: IN                                                           0
addr_state: KS                                                           0
addr_state: KY                                                           0
addr_state: LA                                                           0
addr_state: MA                                                           0
addr_state: MD                                                           0
addr_state: ME                                                           0
addr_state: MI                                                           0
addr_state: MN                                                           0
addr_state: MO                                                           0
addr_state: MS                                                           0
addr_state: MT                                                           0
addr_state: NC                                                           0
addr_state: NE                                                           0
addr_state: NH                                                           0
addr_state: NJ                                                           0
addr_state: NM                                                           0
addr_state: NV                                                           0
addr_state: NY                                                           0
addr_state: OH                                                           0
addr_state: OK                                                           0
addr_state: OR                                                           0
addr_state: PA                                                           0
addr_state: RI                                                           0
addr_state: SC                                                           0
addr_state: SD                                                           0
addr_state: TN                                                           0
addr_state: TX                                                           0
addr_state: UT                                                           0
addr_state: VA                                                           0
addr_state: VT                                                           0
addr_state: WA                                                           0
addr_state: WI                                                           0
addr_state: WV                                                           0
addr_state: WY                                                           0
initia_list_status: f                                                    0
initia_list_status: w                                                    0
dtype: int64

In [49]:
pd.options.display.max_rows=100

#### Total Revolving Limit column

In [50]:
'''
A revolving credit limit is just the maximum amount you can keep borrowing from 
your line of credit. If the value any is missing in this column, we can impute
it with the full funded amount of the loan
'''

'\nA revolving credit limit is just the maximum amount you can keep borrowing from \nyour line of credit. If the value any is missing in this column, we can impute\nit with the full funded amount of the loan\n'

In [51]:
#imputing missing values with the funded amount of a loan
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace=True)

In [52]:
#checking if there are still any misisng values left
loan_data['total_rev_hi_lim'].isnull().sum()

0

#### Annual Income Column

In [53]:
#for missing values in annual income column we can impute using the mean of the dataset
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(),inplace=True)

In [54]:
loan_data['annual_inc'].isnull().sum()

0

#### Columns where missing values can be imputed with 0

In [55]:
loan_data['mnths_since_earliest_cr_line'].fillna(0, inplace=True) 
#The number of accounts on which the borrower is now delinquent.
loan_data['acc_now_delinq'].fillna(0, inplace=True)
#The total number of credit lines currently in the borrower's credit file
loan_data['total_acc'].fillna(0, inplace=True)
#Number of derogatory public records
loan_data['pub_rec'].fillna(0, inplace=True)
#The number of open credit lines in the borrower's credit file.
loan_data['open_acc'].fillna(0, inplace=True)
#The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
#The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past
loan_data['delinq_2yrs'].fillna(0, inplace=True)
#Employment length in years. Possible values are between 0 and 10 where 0 means less than one year
loan_data['emp_length_int'].fillna(0, inplace=True)

# Expected Loss Modelling Part #1: PD Model

### Dependent Variable: Good/ Bad(default) accounts

In [56]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [57]:
#accounts per category
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [58]:
#each category as a percetnage of total loans
round((loan_data['loan_status'].value_counts()/loan_data['loan_status'].count())*100,1)

Current                                                48.1
Fully Paid                                             39.6
Charged Off                                             9.1
Late (31-120 days)                                      1.5
In Grace Period                                         0.7
Does not meet the credit policy. Status:Fully Paid      0.4
Late (16-30 days)                                       0.3
Default                                                 0.2
Does not meet the credit policy. Status:Charged Off     0.2
Name: loan_status, dtype: float64

In [59]:
'''
To use the data for logistic regression, we have to segregate loan_status values as 
'Good accounts' coded as 1 or 'Bad accounts' (defaulted in the past) coded as 0. 
To acheive this, lets take alook at which columns indicate default accounts
'Charged_Off',
'Default',
'Does not meet the credit policy: Charged Off',
'Late (31-120 days)'
'''

"\nTo use the data for logistic regression, we have to segregate loan_status values as \n'Good accounts' coded as 1 or 'Bad accounts' (defaulted in the past) coded as 0. \nTo acheive this, lets take alook at which columns indicate default accounts\n'Charged_Off',\n'Default',\n'Does not meet the credit policy: Charged Off',\n'Late (31-120 days)'\n"

In [60]:
#can use np.where to classify ccounts as good or bad which works like an IF condition
loan_data['good_bad']=np.where(loan_data['loan_status'].isin(['Charged Off',
                                                'Late (31-120 days)',
                                                'Default',
                                        'Does not meet the credit policy. Status:Charged Off']),
                              0,1)

In [61]:
loan_data['good_bad'].head()

0    1
1    0
2    1
3    1
4    1
Name: good_bad, dtype: int32

### Splitting the data in train and test fit

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
#train dataset would not contain good_bad column, it is included as the test set
loan_data_inputs_train,loan_data_inputs_test,loan_data_targets_train,loan_data_targets_test=train_test_split(loan_data.drop('good_bad',axis=1),loan_data['good_bad'])

In [64]:
loan_data_inputs_train.shape

(349713, 206)

In [65]:
loan_data_targets_train.shape

(349713,)

In [66]:
loan_data_inputs_test.shape

(116572, 206)

In [67]:
#indicates the target variable
loan_data_targets_test.shape

(116572,)

In [68]:
# train data: 80%, to avoid random shuffling every time use random_state
loan_data_inputs_train,loan_data_inputs_test,loan_data_targets_train,loan_data_targets_test=train_test_split(loan_data.drop('good_bad',axis=1),loan_data['good_bad'],test_size=0.2,random_state=42)

In [69]:
loan_data_inputs_train.shape

(373028, 206)

In [70]:
loan_data_targets_train.shape

(373028,)

In [71]:
loan_data_inputs_test.shape

(93257, 206)

In [72]:
loan_data_targets_test.shape

(93257,)

#### Using some more Categorical Variables

In [73]:
df_inputs_prepr=loan_data_inputs_train
df_targets_prepr=loan_data_targets_train

In [74]:
df_inputs_prepr['grade'].unique()

array(['A', 'C', 'D', 'B', 'E', 'F', 'G'], dtype=object)

In [85]:
df1=pd.concat([df_inputs_prepr['grade'],df_targets_prepr],axis=1)
df1.head()

       grade  good_bad
427211     A         1
206088     C         1
136020     A         1
412305     D         0
36159      C         0

In [86]:
#no of rows in the dataset for each category of grade
df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].count()

  grade  good_bad
0     A     59759
1     B    109730
2     C    100245
3     D     61498
4     E     28612
5     F     10530
6     G      2654

In [87]:
#no of rows in the dataset for each category of grade
#Does not turn the names of the values of the criterion as indexes as_index=False
#Here we calculate the mean of the values in the column with index 1 for each value of the column with index 0.
df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].mean()

  grade  good_bad
0     A  0.961044
1     B  0.921015
2     C  0.885770
3     D  0.846304
4     E  0.805257
5     F  0.754416
6     G  0.727958

In [88]:
df1 = pd.concat([df1.groupby(df1.columns.values[0], as_index = False)[df1.columns.values[1]].count(),
                df1.groupby(df1.columns.values[0], as_index = False)[df1.columns.values[1]].mean()], axis = 1)
# Concatenates two dataframes along the columns.

In [89]:
df1

  grade  good_bad grade  good_bad
0     A     59759     A  0.961044
1     B    109730     B  0.921015
2     C    100245     C  0.885770
3     D     61498     D  0.846304
4     E     28612     E  0.805257
5     F     10530     F  0.754416
6     G      2654     G  0.727958

In [90]:
df1=df1.iloc[:, [0, 1, 3]]

In [91]:
df1

  grade  good_bad  good_bad
0     A     59759  0.961044
1     B    109730  0.921015
2     C    100245  0.885770
3     D     61498  0.846304
4     E     28612  0.805257
5     F     10530  0.754416
6     G      2654  0.727958

In [92]:
#renaming the columns to show number of observation and proportion of good 
df1.columns = [df1.columns.values[0], 'n_obs', 'prop_good']

In [93]:
df1

  grade   n_obs  prop_good
0     A   59759   0.961044
1     B  109730   0.921015
2     C  100245   0.885770
3     D   61498   0.846304
4     E   28612   0.805257
5     F   10530   0.754416
6     G    2654   0.727958

In [94]:
#proportion of each category from the total
df1['prop_n_obs'] = (df1['n_obs']) / (df1['n_obs'].sum())

In [95]:
df1

  grade   n_obs  prop_good  prop_n_obs
0     A   59759   0.961044    0.160200
1     B  109730   0.921015    0.294160
2     C  100245   0.885770    0.268733
3     D   61498   0.846304    0.164862
4     E   28612   0.805257    0.076702
5     F   10530   0.754416    0.028228
6     G    2654   0.727958    0.007115

In [96]:
df1['n_good'] = df1['prop_good'] * df1['n_obs']
# We multiply the values of one column by he values of another column and save the result in a new variable.
df1['n_bad'] = (1 - df1['prop_good']) * df1['n_obs']
df1
#no of bad (0) would be 1-good

  grade   n_obs  prop_good  prop_n_obs    n_good    n_bad
0     A   59759   0.961044    0.160200   57431.0   2328.0
1     B  109730   0.921015    0.294160  101063.0   8667.0
2     C  100245   0.885770    0.268733   88794.0  11451.0
3     D   61498   0.846304    0.164862   52046.0   9452.0
4     E   28612   0.805257    0.076702   23040.0   5572.0
5     F   10530   0.754416    0.028228    7944.0   2586.0
6     G    2654   0.727958    0.007115    1932.0    722.0

In [97]:
#proportion of good and bad borrowers as part of the total
df1['prop_n_good'] = df1['n_good'] / df1['n_good'].sum()
df1['prop_n_bad'] = df1['n_bad'] / df1['n_bad'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad
0,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090
1,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541
2,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792
4,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642
5,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417
6,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706

In [98]:
#Weight of Evidence 
df1['WoE']=np.log(df1['prop_n_good'] / df1['prop_n_bad'])
df1
#calculated as the log ratiof of %good over %bad

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830
1,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476
2,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843
4,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267
5,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440
6,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459

In [99]:
df1 = df1.sort_values(['WoE'])

In [100]:
# We reset the index of a dataframe and overwrite it.
df1 = df1.reset_index(drop = True)

In [101]:
df1['diff_prop_good'] = df1['prop_good'].diff().abs()

In [102]:
df1['diff_WoE'] = df1['WoE'].diff().abs()

In [103]:
df1['IV'] = (df1['prop_n_good'] - df1['prop_n_bad']) * df1['WoE']

In [104]:
df1['IV'] = df1['IV'].sum()

In [125]:
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G,2654,0.727958,0.007115,1932.0,722.0,0.005815,0.017706,-1.113459,NaN,NaN,0.288636
1,F,10530,0.754416,0.028228,7944.0,2586.0,0.023910,0.063417,-0.975440,0.026458,0.138019,0.288636
2,E,28612,0.805257,0.076702,23040.0,5572.0,0.069345,0.136642,-0.678267,0.050841,0.297173,0.288636
3,D,61498,0.846304,0.164862,52046.0,9452.0,0.156647,0.231792,-0.391843,0.041047,0.286424,0.288636
4,C,100245,0.885770,0.268733,88794.0,11451.0,0.267251,0.280813,-0.049503,0.039466,0.342340,0.288636
5,B,109730,0.921015,0.294160,101063.0,8667.0,0.304178,0.212541,0.358476,0.035245,0.407979,0.288636
6,A,59759,0.961044,0.160200,57431.0,2328.0,0.172855,0.057090,1.107830,0.040028,0.749353,0.288636